* {
    font-family: "Museo Sans Cyrl W03 100", sans-serif;
    margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'base/_variables';
@import 'blocks/_buttons';
@import '../sass/blocks/promo.scss';
@import '../sass/blocks/header.scss';
